* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 40px 40px;
  top: 0;
  position: sticky;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
}

.img-logo {
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 0 30px;
}

.links a {
  font-size: 14px;
  text-decoration: none;
  color: #4d4c4c;
  font-family: "Abril Fatface", cursive;
  font-family: "DM Sans", sans-serif;
  font-family: "Dosis", sans-serif;
  font-family: "Poiret One", cursive;
  font-family: "Roboto", sans-serif;
}

.links a:hover {
  color: #292727;
}

.links > a:nth-last-child(1) {
  color: #f03da5;
  text-transform: capitalize;
}

/* ================ First section ========================== */

.section-box {
  padding: 0 40px;
}

.clm-one {
  display: flex;
  flex-direction: row;
  /* background-color: transparent; */
  justify-content: space-between;
}

.clm-text {
  flex-direction: column;
  padding-top: 40px;
}
.clm-text a {
  font-size: 24px;
  text-decoration: none;
  color: #f03da5;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 40px 0;
  font-family: "Roboto", sans-serif;
}
.clm-text p {
  font-size: 24px;
  text-decoration: none;
  color: #4d4c4c;
  line-height: 42px;
  font-weight: 400;
  width: 80%;
}
.clm-text h1 {
  font-size: 64px;
  font-weight: 900;
  padding: 50px 0;
  font-family: "Roboto", sans-serif;
  width: 80%;
  word-break: keep-all;
  letter-spacing: 3px;
}
.img-box {
  display: flex;
  width: 100%;
  background: url(./img/graphic.svg);
  overflow: visible;
  background-repeat: no-repeat;
  transform: translateX(-5em) scale(0.5);
}

/* ================= Button ================== */

.btn-second {
  width: 10em;
  padding: 26px;
  margin-top: 40px;
  font-size: 28px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  border: 5px solid #f03da5;
  background-color: transparent;
  border-radius: 2em;
  margin-bottom: 60px;
}

/* ==================== Burger menu ====================== */

#burger_menu {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  display: none;
  opacity: 0;
}

#burger_menu:checked + .menu_btn > span {
  transform: rotate(45deg);
}
#burger_menu:checked + .menu_btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#burger_menu:checked + .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#burger_menu:checked ~ .menu_box {
  right: 0 !important ;
}

.menu_btn {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 60px;
  cursor: pointer;
  z-index: 1;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #dddedf;
  transition-duration: 0.25s;
}
.menu_btn > span::before {
  content: " ";
  top: -8px;
}
.menu_btn > span::after {
  content: " ";
  top: 8px;
}

.menu_box {
  display: block;
  position: fixed;
  top: 30px;
  right: -180%;
  width: 300px;
  height: 300px;
  margin: 0px;
  padding: 20px 0;
  list-style: none;
  background-color: #ecececab;
  box-shadow: 2px 2px 2px #000000c5;
  transition: right 0.25s ease-in-out;
  box-sizing: border-box;
}
.menu_box > li:nth-last-child(1) {
  color: #f03da5;
}
.menu_item {
  display: block;
  padding: 20px 40px;
  color: #4d4c4c;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu_item:hover {
  color: #d44ec9;
}

/* ========================= Section  2 =========================== */

.section-two {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  background: rgb(237, 43, 113);
  background: linear-gradient(
    36deg,
    rgba(237, 43, 113, 0.3275) 0%,
    rgba(242, 122, 45, 0.4325) 52%,
    rgba(30, 250, 11, 0.375) 100%
  );
}

.grad-back {
  align-items: center;
  padding: 40px 0;
}

.headline {
  font-size: 64px;
  padding: 40px;
  margin-top: 35px;
  font-family: "Roboto", sans-serif;
}

.main-text {
  font-size: 28px;
  line-height: 42px;
  padding: 0 40px;
  font-family: "Roboto", sans-serif;
}

/* ================ Section 3 =====================  */

.logo-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 20px;
}

.logo-box > a {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  margin-top: 25px;
  padding: 0 40px;
}

/* ===================== Section 4 - Card ======================= */
.section-four {
  margin-top: 30px;
  padding: 40px 0;
  /* background-color: #dddedf; */
}

.head-line {
  font-size: 64px;
  text-transform: capitalize;
  padding: 40px;
}
.main-text {
  font-size: 28px;
  color: #4d4c4c;
  line-height: 48px;
  padding: 0 40px 40px 40px;
  letter-spacing: 0.5px;
}

.small-link {
  color: #4d4c4c;
  font-weight: 400;
}

.card-box {
  display: flex;
  flex-direction: row;
  gap: 40px;
  overflow: scroll;
  padding: 0 40px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 440px;
}
.card-container {
  background-color: #dddedf;
  flex-direction: row;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 30px 20px;
}

.card-table {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
}

th {
  font-size: 16px;
  color: #e97122;
  padding: 10px 5px;
  font-weight: 600;
}

tr > th:nth-child(1) {
  text-align: left;
  padding: 10px 5px;
}
tr > th:nth-child(2) {
  text-align: right;
  color: #4d4c4c;
}

tr > td:nth-child(2) {
  text-align: right;
  padding: 10px 5px;
}

.numbers {
  font-size: 24px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.line {
  font-size: 32px;
  letter-spacing: 0.5px;
}

.line-box {
  margin-top: 60px;
  margin-bottom: 10em;
}
.line-element {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: #58585888;
  
}

/* ===============  Section 5 =================================== */
.section-five {
  display: flex;
}
.clm-pl {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  justify-content: space-between;
  padding: 0 40px;
}

.img-second {
  display: flex;
  width: 100%;
  background: url(./img/upsell-footer-image.svg);
  overflow: visible;
  background-repeat: no-repeat;
  transform: translateY(10em) scale(1.5);
  position: relative;
}

/*  ======================= Footer ===================================== */

.info-down {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 60px;
}

.main-info {
  justify-content: flex-start;
  align-content: space-between;
  padding: 0 30px;
  font-family: "Roboto", sans-serif;
}

.logo-bot {
  display: flex;
  width: 240px;
  padding: 40px 0;
}

.second-ln {
  margin-top: 10px;
  margin-bottom: 1em;
}

.links {
  display: flex;
  flex-direction: row;
}

.icons {
  display: flex;
  flex-direction: row;
}
.fa-brands {
  margin-left: 20px;
  padding: 0 5px;
  font-size: 32px;
  color: #4d4c4ca1;
}

.links-container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  padding: 40px 20px;
  flex-wrap: wrap;
  gap: 40px 80px;
  font-size: 24px;
  line-height: 36px;
}

.link-clm {
  display: flex;
  flex-direction: column;
}

.link-clm > h1 {
  font-weight: 600;
  color: #4d4c4c;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
}
.link-clm > a {
  text-decoration: none;
  flex-direction: column;
  color: #4d4c4c;
  line-height: 40px;
}

.bt-text {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  padding: 40px 0;
}

.bt-text > p {
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #4d4c4cc0;
}

.show {
  display: none;
}

/* pakeitimas */

/* ==================== Mobile ================================ */
@media screen and (max-width: 464px) and (man-width: 766px) {
  .hamburger_menu {
    display: block;
  }

  .container{
    background-color: #ffffff;
    position: sticky;
  }

  .links {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hamburger_menu {
    display: inline-block;
  }

  .links {
    display: none;
  }
}

/* ==================== Tablet ================================ */

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .hamburger_menu {
    display: inline-block;
  }
  .links {
    display: none;
  }

  .card-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 30px;
    overflow: visible;
  }

  .card {
    width: 340px;
  }

  .card-container {
    padding: 10px 15px;
  }

}

/* ==================== Desktop ================================ */

@media screen and (min-width: 1024px) {
  .hamburger_menu {
    display: none;
  }

  .section-box {
    padding: 60px 40px;
  }
  .clm-text {
    padding-top: 40px;
  }
  .img-box {
    width: 95%;
    background-repeat: no-repeat;
    transform: scale(0.8) translateY(-10px);
  }

  .clm-text a {
    font-size: 16px;
    color: #f03da5;
    padding: 10px 0;
  }
  .clm-text h1 {
    padding: 30px 0;
    font-family: "Roboto", sans-serif;
    width: 100%;
    word-break: keep-all;
    letter-spacing: 3px;
  }
  .clm-text p {
    width: 100%;
    font-family: "Roboto", sans-serif;
  }

  .btn-second {
    width: 8em;
    padding: 18px;
    margin-top: 22px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
  }

  .headline {
    font-size: 36px;
    font-weight: 500;
    margin-top: 80px;
    padding: 5px 40px;
    font-family: "Roboto", sans-serif;
  }

  .main-text {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 40px;
    font-family: "Roboto", sans-serif;
  }

  .logo-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 40px;
  }

  .logo-box > a {
    width: 100%;
  }
  

  .section-four {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
  }

  .head-line {
    font-size: 54px;
    font-weight: 500;
    padding: 30px 40px;
    letter-spacing: 2px;
  }

  .main-text {
    font-size: 24px;
    line-height: 20px;
    padding: 0 40px 80px 40px;
    letter-spacing: 0.8px;
  }

  .card-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    overflow: visible;
  }

  .card {
    width: 290px;
  }

  .card-container {
    padding: 10px 15px;
  }

  .card-table {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
  }

  .small-img {
    width: 10%;
  }

  th {
    font-size: 12px;
  }

  .numbers {
    font-size: 24px;
    letter-spacing: 0.5px;
    font-weight: 500;
  }

  .line {
    font-size: 24px;
    letter-spacing: 0.3px;
  }

  .numbers {
    font-size: 20px;
  }

  .img-second {
    transform: translateY(3em) scale(1.1) translateX(16em);
  }

  .show {
    display: block;
    
  }


}